*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1.2fr 2fr ;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
    margin: 10px 0px 10px 20px;
    background-color: aliceblue;
    margin: 2px;
    padding: 2px;
}

 .chats{
   background: white;
}

.chatting{
    background: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: gray;
}

header .profile-pic{
    font-size: large;
    font-weight: 800;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .icons{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.icons i {
    display:inline-block;
    width: 60px;
    justify-content: center;
    align-items: center;
}

.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 50px;
    border: 1px solid black;
}

.serach-icons{
    padding: 20px;
    font-size: large;
}

.search-chat{
    width: 400px;
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 800;
}

.all-chats{
    background-color: aqua;
}

.chat{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 5px;

    border: 1px solid black;
}

.chat .profile-pic .fa{
    font-size:48px;
}

.chat .chat-withname{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px; 
    margin: 2px;
}

.chat .chat-withname .chat-name-text .chat-name{
    margin-left: 20px;
    font-size: large;
    font-weight: 800;
}

.chat .chat-withname .chat-name-text .text{
    text-align: center;
    margin-left: 10px;
}

.chat .profile-pic{
    background-color: green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat .chat-timing{
    margin-left: auto;
    padding: auto;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* .chat .chat-name{
     margin-left: auto; 
} */

.chatting{
    display: grid;
    grid-template-rows: 0.2fr 2fr 0.2fr;
    grid-template-columns: 100%;
    justify-content: space-between;
    background-color: #E8E5E3;
}

.chatting .chat-box{
    background-color: #E4DCD9;
}

.chatting .contact-name{
   display: flex;
  justify-content: space-between;
  background-color: gray;
  height: 90px;
  border: 1px solid black;
}

.chatting .contact-name .chat-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
 }

 .chatting .contact-name .chat-icons i{
    display:inline-block;
    width: 60px;
    justify-content: center;
    align-items: center;
 }



.chatting .chat-withname{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    align-items: center;
}

.chatting .chat-name-text{
    padding: 10px;
    margin: 10px;
    font-size: large;
}

.chatting .chat-typebox{
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 100%;
   height: 50px;
   border: 1px solid black;
 }

 .chatting .chat-typebox .emoji{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 2px;
 }

 .chatting .chat-typebox .search-chat{
     background-color: white;
     width: 100%;
}

 .chatting .chat-typebox .mic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatting .chat-box{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
}

.chatting .chat-box .chat-box-upper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 8000;
}

.chatting .chat-box .chat-box-lower{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 5px;
}

.chatting .chat-box .chat-box-lower .send-msg-by-me{
    margin-left: auto;
    background-color: #4dcc2de1;
    padding: 5px;
    /* margin: 5px; */
} 

.chatting .chat-box .chat-box-lower .send-msg-contact-name{
    margin-right: auto;
    background-color: #ffffff;
    padding: 5px;
    /* margin: 5px; */
} 

.chatting .chat-box .chat-box-lower .date{
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #a1cde6;
    padding: 5px;
    /* margin: 5px; */
} 

